#tasks-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  padding: 16px;
  background-color: var(--vt-c-white-mute);
  overflow-y: auto;
}
.alert-box {
  padding: 16px;
  color: rgb(255, 119, 0);
  background-color: rgb(255, 238, 207);
  border: rgb(255, 228, 177) solid;
  border-radius: 10px;
  font-weight: 600;
  letter-spacing: 1.5px;
  max-width: 30rem;
  min-width: 20rem;
  margin: 0 auto;
}
#clear-tasks {
  background-color: rgb(255, 119, 0);
  color: rgb(255, 238, 207);
  padding: 16px;
  width: 100%;
  max-width: 20rem;
  border-radius: 8px;
  border: 0;
  transition: all 0.5s;
}
#clear-tasks:hover {
  background-color: rgb(255, 238, 207);
  color: rgb(255, 119, 0);
  padding: 16px;
  width: 100%;
  max-width: 20rem;
  border-radius: 8px;
  border: 0;
}
