.task {
  padding: 16px;
  display: grid;
  align-items: center;
  grid-template-columns: auto 5rem;
  max-width: 40rem;
  width: 100%;
  background-color: rgb(245, 225, 225);
  border: solid rgb(245, 225, 225);
  color: rgb(130, 40, 40);
  cursor: pointer;
  transition: 0.2s all;
}

.task:hover {
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1);
}

.remove-task {
  color: red;
  font-weight: 800;
  text-transform: uppercase;
}
