#page {
  background-color: #ff0000;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: 32px;
}
#go-tasks {
  background-color: #ffeeee;
  color: #000000;
  padding: 16px;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
}
#go-tasks:hover {
  box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.2);
}
#no-user-container {
  display: grid;
  gap: 32px;
  color: #ffeeee;
}
#name-input {
  padding: 16px;
  width: 100%;
  border: 0;
  background-color: #ffeeee;
}
